@import "../../../../sass/variables.scss";
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bottom-testimonials {
  @include FlexColumn;
  align-content: space-between;
  align-items: space-between;
  border-left: solid 5px #b18f39;
  justify-content: space-between;
  margin-bottom: 10%;
  padding: 1% 0;
  padding-left: clamp(1rem, 0.6962rem + 1.519vw, 2.5rem);
  width: 60%;

  .name-position-image {
    @include FlexRowCenter;
    justify-content: space-between;
  }

  .name-titleBox {
    @include FlexRowCenter;
    justify-content: space-between;

    .p_bold_large {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      margin: 0;
      padding: 0%;
    }

    .image-circle {
      height: clamp(6.25rem, 5.7437rem + 2.5316vw, 8.75rem);
      margin-right: 20px;
      width: clamp(6.25rem, 5.7437rem + 2.5316vw, 8.75rem);

      img {
        border-radius: 90%;
        border: 1px solid black;
      }
    }
  }
}
.header-image {
  @include backgroundImageCenterCoverNORepeat;
  background-image: url("../../../../../public/assets/images/globalImages/image9.jpg");
  border: 1px solid black;
  height: clamp(12.5rem, 8.7025rem + 18.9873vw, 31.25rem);
}

@media screen and (min-width: 320px) and (max-width: 699px) {
  .bottom-testimonials {
    width: 100%;
    .name-titleBox {
      flex-wrap: wrap;
    }

    .image-arrow {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      img {
        width: 30%;
      }
    }
  }
}
